.result
  border-radius: 8px


.calculator
  background-color: darkmagenta
  position: relative             // to center component
  margin: auto auto auto         // to center component
  width: 400px                   // width of calculator
  text-align: center             // center all the text inside the calculator
  border-color: blue
  border-radius: 20px            // "roundness" of edges
  box-shadow: inset 2px 0px 50px -5px black    //horizontal, vertical, blur radius, spread radius, color

.numpad
  border-radius: 8px
  width: 80px
  height: 65px
  font-size: 20px
  border: 2px solid
  border-color: green
  margin: 2px 2px 8px 2px
  transition-duration: 0.4s
  box-shadow: 5px 0px 15px -5px

.clearButton
  width: 340px

.input
  width: 350px
  height: 60px
  text-align: right
